body {
	margin: 0;
	padding: 0;
	/* background-image: url("images/7825e673793be2609cd14e22c4d9083c_large.jpeg"); */
	background-repeat: no-repeat;
	background-color: rgb(219, 217, 212);
}
/* Header */
ul#menu1 li {
				display: inline-block;
				list-style: none;
				text-align: center;
			}
ul#menu1 {

			float: right;
			list-style-type: none;
			padding: 40px 30px 0 0;
			margin: 0;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: thin;
					
		}
li.bouton_1 {
			padding: 15px;

			} 
#menu1 li:hover {
	background-color: #1E824c;
}			
ul#menu1 a {
			color: gray;
			text-decoration: none;
			}
ul#menu1 a:hover { 
			color: white;
		}

.logout {
	color: white;
}
/* BANNIERE_HAUT */	
.logo {
	float:left;
}			
#header {
			background-color: rgb(255,255,255);
			width: 100%;
			padding: 0;
			margin: 0;
			display: block;
			z-index: 100;
		}	
/* Espace Membre*/
.photo_profil {
	display: inline-block;
	width: 50px;
	margin-bottom: -4px;
	margin-right: -3px;
	margin-left: 1220px;
	margin-top: -20px;
	border: 2px solid black;
}
.photo_de_profil {
	padding-left: 35px;
	margin-left: 40px;
	margin-top: 15px;
}
#esp_membre {

	position: relative;
	float: left;
	height: 550px;
	width: 300px;
	border-radius: 2px;
	border-spacing: 4px;
	background-color: rgba(236,235,234,0.75);
	padding-top: 10px;
	z-index: 200;
	border-radius: 5px;
	margin-top: 25px;
	margin-left: 25px;
}
.esp_membre {
	color: #1E824c;
	text-decoration: underline;
	font-size: 30;
	font-weight: bold;
	padding-left: 50px;
	margin-bottom: 30px;
}
#esp_membre a {
	color: white;
	text-decoration: none;
	list-style: none;
	font-weight: xx-small;

}
#esp_membre a:hover {
	text-decoration: underline;
	color: #1E824c;
	font-style: bold;
}
#esp_membre li {
	font-size: 25px;
	list-style-type: none;
	text-align:center;
	margin-top: 25px;
	margin-right: 20px;
	margin-left: -30px;
}
/*Slider*/
#slideshow {
    position:relative;
    height:350px;
    z-index:-1;
}
  
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}
  
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}
  
#slideshow IMG.last-active {
    z-index:9;
}
  
#slideshow img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
  
@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px;
}
}
/*Page d'Accueil*/
#barre_recherche
{
	width:800px;
	height:550px;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap; 
}
#recherche
{
	width:500px;
	height:75px;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	
}
#rechercher
{   
    width:250px;
    height:75px;
	background-color:#1E824C;
	color:white;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 5px;
}
#lien_recherche
{   

	font-size: 30px;
	width:350px;
	margin-top: -280px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 250px
}
#lien_recherche a
{
   color:#1E824c;
   text-decoration: none;
   font-style: bold
}
#lien_recherche a:hover
{
	color:white;
	font-style:bold;
	text-decoration: none;
}
/* Page d'accueil non membre*/
#barre_connect legend
{
	font-style: bold;
	color:#1E824c;
	width:600px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -150px;
	font-size: 60px;

}
#barre_connect
{
	width:1400px;
	height:550px;
	margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap; 
}
#connect1
{
	width:500px;
	height:75px;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	
}
#connect2
{
	width:500px;
	height:75px;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	
}
#connection
{   
    width:250px;
    height:75px;
	background-color:#1E824C;
	color:white;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 5px;
}
#lien_inscr
{   

	font-size: 30px;
	width:350px;
	margin-top: -340px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 250px
}
#lien_inscr a
{
   color:#1E824c;
   text-decoration: none;
   font-style: bold
}
#lien_inscr a:hover
{
	color:white;
	font-style:bold;
	text-decoration: none;
}
/* Mosaïque*/
#titre_mos
{
	text-decoration: underline;
	font-style: bold;
	font-size: 45px;
	color: #1E824c;
	width:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: -100px;
}

#mosaic
{
	border:1px solid white ;
	background-color: rgba(255,255,255,0.50);
	width:100%;
	height:1200px;
	position: relative;
	font-size: 0px;
	

}
#mos
{
	margin-top: 150px;    
	margin-left: auto;
	margin-right: auto;
	width:1500px;
}
#mos_img{
	text-align: center;
	margin:0;
	max-width: 100%;
	max-height: 100%;
	
}
#mos_img:hover
{
  opacity: 0.75;
}
/* Footer*/
#footer li {
	list-style: none;
	list-style-type: none;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
}
#footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	position: relative;
	border:1px solid white;
	background-color: white;
	text-align: center;
	font-size: 25px;
}	
#footer a {
	text-decoration: underline;
	color: gray;
}
#footer a:hover {
	color: #1E824c;
}
/* Page d'inscription */	
.titre_fiche
{
	
	text-decoration: underline;
	color: white;
	font-weight: bold;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 150px;

}
#inscrip
 {
 	width: 600px;
 	height:1300px;
 	padding:10px;
 	background-color:rgba(255,255,255,0.5);
 	margin-left: auto;
 	margin-right: auto;
 	border: 3px solid white;
 	vertical-align: middle;
 	
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid white;
 }
h2 {
 color: white;
 font-weight:bold;
 font-size: 24px;
 }
label {
 margin-top:10px;
 display:block;
 font-size: 16px;
 font-weight: small;
 color: #000456;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
 .inline2 {
 	margin-left: 20px;
 	margin-top: -18px;
 }
 .photo_id{
 	width:300px;
 }
 .chp {
 	font-size: 14px;
 	color: #000456;
 	padding-top: -15px;
 }
input, textarea, select, option {
 background-color: #c0c0c0;
 }
input, textarea, select {
 padding:3px;
 border:1px solid white;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px white inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px gray;
 cursor:pointer;
 }
 input[type="checkbox"]{
 width:10px;
}
/* Contacts*/
article legend{
	width:800px;
	font-style: bold;
    color:#1E824c;
	font-size: 40px;
	margin-left: 195px;
	margin-bottom: 50px;
	
}
#titre_contact
{
	color:#1E824c;
	font-size: 30px;
	font-style: bold;
	padding-left:150px;
	margin-left: 150px;

}
#cadre_contact
{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 150px;
	margin-left: 336px;
	margin-top: 150px;
	margin-right: 200px;
	margin-bottom:200px;
	border: 3px solid rgba(255,255,255,0.75);
	background-color: rgba(255,255,255,0.75);
	height: 800px;
	width:900px;
}
#name
{
	height:50px;
	width:400px;
	margin-left:150px;
	background-color: #ECECEC;
}
#email
{
	height:50px;
	width:400px;
    margin-left:150px;
    background-color: #ECECEC;
}
#message 
{
	margin-top: 50px;
	margin-left: 23px;
	height:50px;
	width:700px;
	height:300px;
	background-color: #ECECEC;

	
}
#sujet
{	
    background-color: #ECECEC;
	width:400px;
	height:50px;
	margin-left: 150px;	
}	
#envoyer
 {
 	margin-top:55px;
 	margin-left: 216px;
 	width:250px;
 	height:50px;
	background-color: #1E824c;
	color:white;
	font-size: 25px;
	font-style: bold;
	
}
/* Historique*/
#historique
{
	margin-left: 640px;
	margin-right: 100px;
	margin-top: 25px;
	border: 3px solid rgba(255,255,255,0.75);
	width:900px;
	height: 900px;
	background-color: rgba(255,255,255,0.75);
	white-space: nowrap;
	
}
#historique h2
{
	margin-top: 50px;
	text-align: center;
	font-size: 35px;
	font-style: bold;
	white-space: nowrap;
	color:#1E824c;
	
}
#historique h3
{
	color:#1E824c;
	
	margin-left:0;
}	


#bien1{
	margin-top:30px;
}
#bien2{
	margin-top: 30px;
}
.maison1 {
	padding-left: 50px;
	float: left;
	white-space: nowrap;
}
.maison2 {
	padding-left: 50px;
	float: left;
	white-space: nowrap;
}
.description1 {
	margin-left: 336px;
	width:500px;
	height:200px;
	white-space: nowrap;
}
.description1 article {
	background-color: #ECECEC;
	height: 193px;
	padding-top: 1px;
	padding-bottom: 19px;
	padding-left: 5px;
	margin-left: -13%;
	white-space: nowrap;
}
.description1 a 
{
  padding-left: 150px; 	
  color:#1E824c;
  text-decoration: none;
  font-size: 12px;
}
.description2 {
	margin-left: 336px;
	width:500px;
	height:200px;
	white-space: nowrap;
}
.description2 article {
	background-color: #ECECEC;
	height: 193px;
	padding-top: 1px;
	padding-bottom: 19px;
	padding-left: 5px;
	margin-left: -13%;
	white-space: nowrap;
}
.description2 a 
{
  padding-left: 150px;	
  color:#1E824c;
  text-decoration: none;
  font-size: 12px;
}
ul.notes-echelle {
	margin:0;
	padding:0;
	font:.75em/1.2 Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
ul.notes-echelle li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
	white-space: nowrap;
}	
ul.notes-echelle li label {
	display:block;
	text-align:center;
	line-height:20px;
	background:url(img/etoile.png) center top no-repeat;
	cursor:pointer;
	white-space: nowrap;
}