/*Body*/
body
{
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: rgb(219, 217, 212);
}


/* Header */
ul#menu1 li {
				display: inline-block;
				list-style: none;
				text-align: center;
}
ul#menu1 {

			float: right;
			list-style-type: none;
			padding: 40px 30px 0 0;
			margin: 0;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: thin;
}
li.bouton_1 {
			padding: 15px;

			} 
#menu1 li:hover {
	background-color: #1E824c;
}			
ul#menu1 a {
			color: gray;
			text-decoration: none;
}
ul#menu1 a:hover { 
			color: white;
}
.logout {
	color: white;
}


/* BANNIERE_HAUT */	
.logo {
	float:left;
}			
#header{
			background-color: rgb(255,255,255);
			width: 100%;
			padding: 0;
			margin: 0;
			display: block;
			z-index: 100;
}	


/* Espace Membre*/
.photo_profil {
	display: inline-block;
	width: 50px;
	margin-bottom: -4px;
	margin-right: -3px;
	margin-left: 1220px;
	margin-top: -20px;
	border: 2px solid black;
}
.photo_de_profil {
	padding-left: 35px;
	margin-left: 40px;
	margin-top: 15px;
}
#esp_membre {

	position: relative;
	float: left;
	height: 550px;
	width: 300px;
	border-radius: 2px;
	border-spacing: 4px;
	background-color: rgba(236,235,234,0.75);
	padding-top: 10px;
	z-index: 200;
	border-radius: 5px;
	margin-top: 25px;
	margin-left: 25px;
}
.esp_membre {
	color: #1E824c;
	text-decoration: underline;
	font-size: 30;
	font-weight: bold;
	padding-left: 50px;
	margin-bottom: 30px;
}
#esp_membre a {
	color: white;
	text-decoration: none;
	list-style: none;
	font-weight: xx-small;

}
#esp_membre a:hover {
	text-decoration: underline;
	color: #1E824c;
	font-style: bold;
}
#esp_membre li {
	font-size: 25px;
	list-style-type: none;
	text-align:center;
	margin-top: 25px;
	margin-right: 20px;
	margin-left: -30px;
}


/*Slider*/
#slideshow {
    position:relative;
    height:350px;
    z-index:-1;
}
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}
#slideshow IMG.last-active {
    z-index:9;
}
#slideshow img {
    
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px;
}
}


/*Page d'Accueil*/
#barre_recherche
{
	width:800px;
	height:550px;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap; 
}
#recherche
{
	width:500px;
	height:75px;
	font-size: 40px;
	margin-left: 140;
	margin-top: 200px;
	margin-bottom: 200px;
	
}
#rechercher
{   
    width:250px;
    height:75px;
	background-color:#1E824C;
	color:white;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 5px;
}
#lien_recherche
{   

	font-size: 30px;
	width:350px;
	margin-top: -280px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 250px
}
#lien_recherche a
{
   color:#1E824c;
   text-decoration: none;
   font-style: bold
}
#lien_recherche a:hover
{
	color:rgb(76,76,76);
	font-style:bold;
	text-decoration: underline;
	font-size: 35px;
}


/* Page d'accueil non membre*/
#barre_connect legend
{
	font-style: bold;
	color:#1E824c;
	width:600px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -150px;
	font-size: 60px;

}
#barre_connect
{
	width:1400px;
	height:550px;
	margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap; 
}
.connect1
{
	width:500px;
	height:75px;
	font-size: 40px;
	margin-left: 60px;
	margin-top: 200px;
	margin-bottom: 200px;
	
}
.connect2
{
	width:500px;
	height:75px;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	
}
#connection
{   
    width:250px;
    height:75px;
	background-color:#1E824C;
	color:white;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 5px;
}
#lien_inscr
{   

	font-size: 30px;
	width:350px;
	margin-top: -340px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 250px
}
#lien_inscr a
{
   color:#1E824c;
   text-decoration: none;
   font-style: bold
}
#lien_inscr a:hover
{
	color:rgb(76,76,76);
	font-style:bold;
	text-decoration: underline;
	font-size: 35px;
}


/* Mosaïque*/
#titre_mos
{
	text-decoration: underline;
	font-style: bold;
	font-size: 50px;
	color: #1E824c;
	width:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: -100px;
}

#mosaic
{
	border:1px solid white ;
	background-color: rgba(255,255,255,0.50);
	width:100%;
	height:1200px;
	position: relative;
	font-size: 0px;
}
#mos
{
	margin-top: 150px;    
	margin-left: auto;
	margin-right: auto;
	width:1500px;
}
.mos_img{
	text-align: center;
	margin:0;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	
}
#mos_img:hover
{
  opacity: 0.75;
}


/* Footer*/
#footer li {
	list-style: none;
	list-style-type: none;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
}
#footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	position: relative;
	border:1px solid white;
	background-color: white;
	text-align: center;
	font-size: 25px;
}	
#footer a {
	text-decoration: underline;
	color: gray;
}
#footer a:hover {
	color: #1E824c;
}


/* Register */	
.titre_fiche
{
	color: #1E824c;
	font-weight: bold;
	font-size: 35px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}
#inscrip
 {
 	width: 600px;
 	height:1300px;
 	padding:10px;
 	background-color:rgba(255,255,255,0.5);
 	margin-left: auto;
 	margin-right: auto;
 	border: 3px solid rgba(255,255,255,0.75);
 	vertical-align: middle;
}
h2 {
 color: #1E824c;
 font-weight:bold;
 font-size: 24px;
 }
label {
 margin-top:10px;
 display:block;
 font-size: 16px;
 font-weight: small;
 color: #1E824c;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
 .inline2 {
 	margin-left: 20px;
 	margin-top: -18px;
 }
 .photo_id{
 	width:300px;
 }
 .chp {
 	font-size: 14px;
 	color: #1E824c;
 	padding-top: -15px;
 }
input, textarea, select, option {
 background-color: #ECECEC;
 }
input, textarea, select {
 padding:3px;
 border:1px solid rgba(255,255,255,0.75);
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px white inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
 margin-left:5px;
 box-shadow:1px 1px 1px gray;
 cursor:pointer;
 background-color: #1E824c;
 height:50px;
 width: 250px;
 font-size: 25px;
 color:white;
 }
 input[type="checkbox"]{
 width:10px;
}
.date_naiss placeholder 
{
 color:#D2D7D3;
}


/* Contacts*/
article legend{
	width:800px;
	font-style: bold;
    color:#1E824c;
	font-size: 40px;
	margin-left: 195px;
	margin-bottom: 50px;
}
#titre_contact
{
	color:#1E824c;
	font-size: 30px;
	font-style: bold;
	padding-left:150px;
	margin-left: 150px;

}
#cadre_contact
{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 150px;
	margin-left: 500px;
	margin-top: 150px;
	margin-right: 200px;
	margin-bottom:200px;
	border: 3px solid rgba(255,255,255,0.75);
	background-color: rgba(255,255,255,0.75);
	height: 800px;
	width:900px;
}
#input_name
{
	height:50px;
	width:400px;
	margin-left:150px;
	background-color: #ECECEC;
}
#input_email
{
	height:50px;
	width:400px;
    margin-left:150px;
    background-color: #ECECEC;
}
#input_message 
{
	margin-top: 10px;
	height:50px;
	width:700px;
	height:300px;
	background-color: #ECECEC;
}
#sujet
{	
    background-color: #ECECEC;
	width:400px;
	height:50px;
	margin-left: 150px;	
}	
#envoyer
 {
 	margin-top:10px;
 	margin-left: 230px;
 	width:250px;
 	height:50px;
	background-color: #1E824c;
	color:white;
	font-size: 25px;
	font-style: bold;
}


/* Historique*/
#historique
{
	margin-left: 640px;
	margin-right: 100px;
	margin-top: 25px;
	border: 3px solid rgba(255,255,255,0.75);
	width:900px;
	height: 900px;
	background-color: rgba(255,255,255,0.75);
	white-space: nowrap;
}
#historique h2
{
	margin-top: 50px;
	text-align: center;
	font-size: 35px;
	font-style: bold;
	white-space: nowrap;
	color:#1E824c;
}
#historique h3
{
	color:#1E824c;
	
	margin-left:0;
}	
#bien1{
	margin-top:30px;
}
#bien2{
	margin-top: 30px;
}
.maison1 {
	padding-left: 50px;
	float: left;
	white-space: nowrap;
}
.maison2 {
	padding-left: 50px;
	float: left;
	white-space: nowrap;
}
.description1 {
	margin-left: 336px;
	width:500px;
	height:200px;
	white-space: nowrap;
}
.description1 article {
	background-color: #ECECEC;
	height: 193px;
	padding-top: 1px;
	padding-bottom: 19px;
	padding-left: 5px;
	margin-left: -13%;
	white-space: nowrap;
}
.description1 a 
{
  padding-left: 150px; 	
  color:#1E824c;
  text-decoration: none;
  font-size: 14px;
}
.description1 a:hover 
{
  padding-left: 150px; 	
  color:rgb(76,76,76);
  text-decoration: none;
  font-size: 16px;
}
.description2 {
	margin-left: 336px;
	width:500px;
	height:200px;
	white-space: nowrap;
}
.description2 article {
	background-color: #ECECEC;
	height: 193px;
	padding-top: 1px;
	padding-bottom: 19px;
	padding-left: 5px;
	margin-left: -13%;
	white-space: nowrap;
}
.description2 a 
{
  padding-left: 150px;	
  color:#1E824c;
  text-decoration: none;
  font-size: 14px;
}
.description2 a:hover 
{
  color:rgb(76,76,76);
  text-decoration: underline;
  font-size: 16px;
}
ul.notes-echelle {
	margin:0;
	padding:0;
	font:.75em/1.2 Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
ul.notes-echelle li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
	white-space: nowrap;
}	
ul.notes-echelle li label {
	display:block;
	text-align:center;
	line-height:20px;
	background:url(img/etoile.png) center top no-repeat;
	cursor:pointer;
	white-space: nowrap;
}


/* Gestion des échanges */
#gestion_ech
{
	border: 3px solid rgba(255,255,255,0.75);
	background-color: rgba(255,255,255,0.75);
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	height: 800px;
	padding-top: 20px;
	padding-bottom: 80px;
	width: 1400px;
}
.titre_gestion {
	color: #1E824c;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	font-size: 45px;
	margin-bottom: 40px;
}
.sous_part {
	background-color: #ECECEC;
	border: ridge #ECECEC 2px;
	padding-left: 20px;
	padding-right: 10px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-bottom: 20px;
	white-space: nowrap;
}
.titre1 {
	width: 190px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	color: #1E824c;
	font-weight: bold;
}
.titre2 {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	color: #1E824c;
	font-weight: bold;
}
.titre3 {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	color: #1E824c;
	font-weight: bold;
}
.annonce {
	display: inline-block;
	text-decoration: none;
	color: #1E824c;
	font-size: 20;
}
.annonce:hover {
	color: rgb(76,76,76);
	text-decoration: underline;
}
#gestion_ech p {
	display: inline-block;
	margin-left: 30px;
	font-size: 20;
}
.modif {
	display: inline-block;
	margin-left: 450px;
	margin-right: 20px;
}
.txt {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;	
	font-size: 16;
}
#input_gest1
{
	width:95px;
	height:20px;
	background-color: #1E824c;
	color: white;
	font-size: 12px;
	font-style: bold;
	position:relative;
}
#input_gest2
{
	width:95px;
	height:20px;
	background-color: #1E824c;
	color: white;
	font-size: 12px;
	font-style: bold;
}
#input_gest3
{
	width:95px;
	height:20px;
	background-color: #1E824c;
	color: white;
	font-size: 12px;
	font-style: bold;
}


/* Messsagerie interne*/
#cadremess
{
	border:1px solid rgba(255,255,255,0.75);
	background-color:  rgba(255,255,255,0.75);
	height: 1200px;
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 200px;
	margin-top:150px;
	padding-top: 50px;
}
#cadremess h2 {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	color: #1E824c;
	font-size: 45px;
	font-style: bold;
}
#mess-interne{
	margin-right: auto;
    margin-left: auto;
    width:800px;
}
#mess-interne p{
	color:#1E824c;
	font-size: 18px;
}
#datemess{
	color: #1E824c;
}
.textmess
{
	color: #1E824c;
	font-size: 20px;
	font-style: bold;
}



/* Messagerie SHE*/
#grandcadre{
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px; 
	border:1px solid rgba(255,255,255,0.75);
	background-color: rgba(255,255,255,0.75);
	height: 1000px;
	width:1400px;
}
#grandcadre a{
	color: #1E824c;
	text-decoration: none;
	font-style: bold;
	font-size: 20px;
}
#grandcadre a:hover
{
	color: rgb(76,76,76);
	text-decoration: underline;
	font-style: bold;
	font-size: 22px;
}
#non_lus{
	list-style: none;
}
#deja_lus{
	list-style: none;
}

#titre_messagerie{
	margin-right: auto;
	margin-left: auto;
	width:190px;
	color: #1E824c;
}

#titre_messagerie2{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	color:#1E824c;
}
 

 /*fiche_membre*/
 #fiche{
 	background-color: rgba(255,255,255,0.75);
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    width: 500px;
    height: 600px;
    padding-top: 20px;
    color: #1E824c;
    font-size: 20px;
    font-style: bold;
 }
 #fiche a{
 	text-decoration: none;
 	color:#1E824c;
 	font-style: bold;
 	font-size:18px;
 }
 #fiche a:hover
 {
 	text-decoration: underline;
 	color:rgb(76,76,76);
 	font-style: bold;
 	font-size:20px;
 }

#titre{
	font-size: 45px;
	font-style: bold;
	margin-top: 150px;
	color: #1E824c;
}
#titre_membre{
	font-size: 45px;
	font-style: bold;
	margin-top: 150px;
	color: #1E824c;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#fiche_vis{
	font-style: bold;
	font-size: 20px;
}
#fiche_vis a {
	text-decoration: none;
 	color:#1E824c;
 	font-style: bold;
 	font-size:18px;
}
#fiche_vis a:hover 
{
	text-decoration: underline;
 	color:rgb(76,76,76);
 	font-style: bold;
 	font-size:20px;
}
 	

/* Resultat Recherche*/
.fond
{
	width:100%;
}
.sect_result
{
	margin-left:18%;
	margin-right:20%;
}
.article_result
{
	font-size: 20px;
	font-weight: bold;
	padding:5%;
}
.cadre_aside_result
{
	float:right;
	width:400px;
	background-color:rgba(255,255,255,0.75);
	padding:2%;
	color:white;
	font-size:150%;
	text-align:center;
	border:rgba(192,192,192,0.75) solid 1px; 
	margin-top:100px;
	margin-bottom: 300px;
	margin-right: 50px
}
.aside_result{
	width:350px;
	background-color:#c0c0c0;
	padding:2%;
	opacity:0.75;
	color:white;
	font-size: 150%;
	text-align:center;
	border:rgba(192,192,192,0.75) solid 1px; 
	border-radius:10%;
	
}
.cadre_result{
	border:1px solid rgba(255,255,255,0.75);
	background-color: rgba(255,255,255,0.75);
	color:#1E824c;
	width:1200px;
	height:1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 400px;
}
.cadre_result h2{
	padding:2%;
	color: #1E824c;
	font-size: 30px;
}
.cadre_result a 
{
	color:#1E824c;
	font-size: 18px;
	text-decoration:none;
	font-weight: bold;
}
.cadre_result a:hover
{
	font-size: 20px;
	text-decoration: underline;
	color:rgb(76,76,76);
	font-style: bold;
}
.envoyer
{
	text-align: center;
}
.logement
{
	border: solid 1px white;
	background-color: white;

}
.phraseaccroche img{
	background-color: rgba(255,255,255,0.75);
	color:#c0c0c0;
}


/*Deposer une Annonce*/
.connecter
{
	margin-top:5%;
	margin-left:30%;
}
.sect_annonce
{
	margin-left:18%;
    margin-right:20%;	
}
.localisation
{
	display:inline-block;
	margin-left:10%;
}
.caracteristiques
{
	display:inline-block;
	margin-top:-10%;
	margin-right:5%;
	margin-left:7%;
}
.article_annonce
{
	padding:5%;

}
.contraintes
{
	display:inline-block;
	margin-right:11%;
}
.amenagement
{
	display:inline-block;
}
.disponibilites
{
	display:inline-block;
	margin-left:20%;
}
.aside_annonce
{
	float:right;
	width:15%;
	clear:both;
	margin-left:1%;
	margin-right:-1%;
	background-color:rgb(128,192,192);
	padding:2%;
	opacity:0.9;
	color:white;
	font-size:150%;
	text-align:center;
	border:gray solid 5px;
	border-radius:10%;
	margin-bottom:2%;
}
.titre_annonce{
	color:#1E824c;
	font-weight: bold;
}